body {
	background: #aba7a1
}
.tooltip {
    position: relative;
    display: inline-block 
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position:relative;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: pre-line;
    font-size: large
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
